val x = 3
val y = 98
val er = 5687
val id_98 = 39013
val zAZEazdz0354__azd_asd_ = 18805
val b________dfg__dfg_ = 255091235
val x = 61763

val x = 0X56F
val x = 0x54EF

val x = 0o1234567
val x = 0O1234667

val x = 0b1101100010
val x = 0B1101011001

val `= = 5
val `<= = 0X54
val `<<<<<====>>>>> = 54
val `///////***+-- = 0o1234567

{- ------------------------------------------------- -}
{- first type of  comment -}

{- {- {- {- nested comment deeper deeper, i don't know why, test characters sdf sdfàç_à"'uroeiuzrf ifeç)"f +651+95" +f5"6f5 "+f 1 
-} sdfsdf54
-} sdfsdf
-} sdf sdf+651 -} 

val x{-comment is a separator-}= 24

{--- egdfgdfg -}

{- ------------------------------------------------- -}
-- second type comment val 

val x = 45--658
-- zf -- -- -- sdfsdf -- 
-- {- sdfsdf not ended 
val y = 0o456
--{-test54dfg

{- ------------------------------------------------- -}