  {- Analyse de motifs -}

val x =
  3?
     p1 => 4
   |{ p2 => 4 }
-------------------------------
val x =
  \(x,y) => 4 ?
      p1 => 4
    |{p2 => 5}
--------------------------
val x =
  val y = 5 ; 4  ?
       p1 => 4 
    |{p2 => 5}
---------------------------
val x = y?
    p1 => 4
  | p2 => 5
  | p3 => 6
  |{ p4 => 7 }
--------------------------
val x = 5 + 5 ?
   p1 => 4
   |{ p2 => 5 }
--------------------------
val x = 4 ; 5 ?
    p1 => 4
   |{ p2 => 5 }
----------------------------
val x =
  fun add(y) = 4;5 ?
    p1 => 5
    |{ p2 => 5 }
------------------------