{- local expression -}

val x =  3; 4

val x =
  val y = 5 ; 4

val x =
  val y = 5;  4 ; 3

val x =
  val y = 3;
  val z = 5;
  8

val x =
  val y = 3;10;
  val z = 5;10;
  8

fun x (a) =
  val x = 5;
  45

fun x (a) =
  val x = 5;
  val y = 10;
  val z = "zidane";
  "HELOOIUDF"

fun x (a) =
  fun y (b) = 5;
  12

fun x (a) =
  fun y (b) = 5;
  fun z (c,d) = 10;
  fun h (a,b,c,d) = 'c';
  12


fun x (a) =
  fun y (b) = 5;
  val x = 54;
  fun y (a,b) = 13;
  val y = 45;
  "zidane"

val x  =
  fun y (b) = 5;
  val x = 54;
  fun y (a,b) = 13;
  val y = 45;
  "zidane"

{- error 
val x =
  val y =
    val z = 5; 4
  ;
  3

val x =
  val y =
    fun x (x) = 5; 4
  ;
  3

-}