{- local expression -}

val x =  3; 4

val x =
  val y = 5 ; 4

val x =
  val y = 5;  4 ; 3

val x =
  val y = 3;
  val z = 5;
  8

val x =
  val y = 3;10;
  val z = 5;10;
  8

fun x (a) =
  val x = 5;
  45



{- error 
val x =
  val y =
    val z = 5; 4
  ;
  3

val x =
  val y =
    fun x (x) = 5; 4
  ;
  3

-}