{- First binary operator : + -}


val x = 4 + 5

--------------------------

val x =
  \(x,y) => 5 + 4

-------------------------

val x =
  val f = 9 ; f + 4

-------------------------

val x = 5 + 5 ; 4

------------------------

val x = 4 ; 5 + 3


-----------------------

val x =
  val x = 5 ;
  x + 5

-----------------------


fun x (y) = y+1